<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community for developers
    and entrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, magnam quas temporibus architecto autem! Perspiciatis, animi, eligendi, cupiditate maiores asperiores pariatur vitae ut sed autem sunt fuga alias ex tempora.</p>
</div>